@model WebMasterOk.Models.CodeFirst.Client

@{
    ViewData["Title"] = "EditClient";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>EditClient</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LoginClient" class="control-label"></label>
                <input asp-for="LoginClient" class="form-control" />
                <span asp-validation-for="LoginClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordClient" class="control-label"></label>
                <input asp-for="PasswordClient" class="form-control" />
                <span asp-validation-for="PasswordClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailClient" class="control-label"></label>
                <input asp-for="EmailClient" class="form-control" />
                <span asp-validation-for="EmailClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamClient" class="control-label"></label>
                <input asp-for="FamClient" class="form-control" />
                <span asp-validation-for="FamClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstNameClient" class="control-label"></label>
                <input asp-for="FirstNameClient" class="form-control" />
                <span asp-validation-for="FirstNameClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastNameClient" class="control-label"></label>
                <input asp-for="LastNameClient" class="form-control" />
                <span asp-validation-for="LastNameClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberTelephone" class="control-label"></label>
                <input asp-for="NumberTelephone" class="form-control" />
                <span asp-validation-for="NumberTelephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

