<div>
    <div>
        @Html.ActionLink("Просмотреть историю покупок", "History")
    </div>
    <div>
        @Html.ActionLink("Изменить личные данные", "UpdateClient")
    </div>
    <div>
        @Html.ActionLink("Выход", "Logout", "Account")
    </div>
</div>
