
@{
    ViewData["Title"] = "Delivery";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="rte">
    <p><em>МастерОк доставит ваши покупки:</em><br /><strong><em>быстро</em></strong><br /><strong><em>бережно</em></strong><br /><strong><em>недорого</em></strong></p>
    <h1 style="text-align: left; font-size: 24px;">Доставка</h1>
    <p></p>
    <table>
        <tbody>
            <tr>
                <td>
                    <ul style="padding-left: 20px;">
                        <li>Гомель и гомельская область</li>
                        <li>Минимальная сумма заказа - 100 руб.;</li>
                        <li>Ежедневно (интервалы: до 14:00, с 14:00 до 20:00);</li>
                        <li>после 20:00 +20% к тарифу;</li>
                        <li>"День в день" (при поступлении заказа до 13:00). Возможность доставки уточняйте у Вашего менеджера;</li>
                        <li>Осуществляется до подъезда или квартиры. Разгрузка осуществляется самостоятельно или силами службы доставки, при условии предварительного заказа услуги "<a href="#Подъем и разгрузка">Подъем и разгрузка</a>". (Услуга "<a href="#Подъем и разгрузка">Подъем и разгрузка</a>" на этаж не входит в стоимость доставки!)</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <h3 style="font-size: 24px;"><a id="Подъем и разгрузка"></a>Подъем и разгрузка</h3>
    <ul style="padding-left: 20px;">
        <li>Разгрузка осуществляется только совместно с услугой доставки</li>
        <li>Минимальная стоимость услуги 10 руб.</li>
        <li>При доставке длинномеров и габаритных товаров (гипсокартон, фанера и другие листовые материалы) минимальная стоимость услуги составляет 15 руб.</li>
    </ul>
    <p><em>Представленные цены на сайте являются ориентировочными. Возможны корректировки, после получения и обработки заказа менеджером.</em></p>
    <h2>Самовывоз</h2>
    <ul>
        <li>Пункт самовывоза находится по адресу: Гомель, ул. Советская, д.9</li>
        <li>Забор товара возможен через 12 - 36 часов после согласования заказа с менеджером</li>
        <li>Самовывоз осуществляется всех товаров, кроме групп: " Сухие строительные смеси, гипсокартон и пиломатериалы" </li>
    </ul>
</div>