@model IEnumerable<WebMasterOk.Models.CodeFirst.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            @foreach (var p in ViewBag.Categories)
            {
                <h5>@p.TitleCategory</h5>
            }
        </div>
        <div class="col-md-9">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-header">
                                @Html.DisplayFor(modelitem => item.TitleProduct)
                            </div>
                            <div class="card-body"> 
                                @if (item.PathImage != null)
                                {
                                    <img class="img-thumbnail" width="75" height="75" src="@Url.Action("GetImage", "Home", new { item.Id})" />

                                }
                            </div>
                            <div class="card-footer">
                                @Html.DisplayFor(modelitem => item.Price)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

