
@{
    ViewData["Title"] = "Pay";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<div class="rte">
    <h2>Способы оплаты</h2>
    <table style="vertical-align: top;">
        <tbody>
            <tr>
                <td>
                    <h3><em>Наличный расчет:</em></h3>
                    <p>Оплата наличными наиболее популярный вид расчетов. Оплатить можно непосрественно при получении товара.</p>
                    <p>Возможные виды доставок:</p>
                    <ul>
                        <li>Доставка грузовым транспортом</li>
                        <li>Доставка курьером</li>
                        <li>Срочная доставка курьерской службой</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h3><em>Безналичный расчет:</em></h3>
                    <p>Данный способ оплаты удобен для юридических лиц, при этом в последнее время активно пользуется спросом и у физических лиц,  После оформления заказа и выбора способа оплаты, на Ваш e-mail в течении 2-х часов будет выставлен счет, который возможно оплатить в любом банке, в том числе в электронных системах банков. Счет действителен в течении 5 рабочих дней, при долгосрочных отношениях возможны отгрузки до поступления денежных средств.</p>
                    <p>Возможные виды доставок:</p>
                    <ul>
                        <li>Доставка грузовым транспортом</li>
                        <li>Доставка курьером</li>
                        <li>Срочная доставка курьерской службой</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

