@model WebMasterOk.Models.CodeFirst.Staff

@{
    ViewData["Title"] = "AddStaff";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-4 offset-4">
        <h1>Добавление сотрудника</h1>
        <form asp-action="AddStaff" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullNameStaff" class="control-label"></label>
                <input asp-for="FullNameStaff" class="form-control" />
                <span asp-validation-for="FullNameStaff" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionId" class="control-label"></label>
                <select asp-for="PositionId" class="form-control" asp-items="ViewBag.PositionId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить сотрудника" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Вернуться назад</a>
        </div>
    </div>
</div>
