@model WebMasterOk.Models.CodeFirst.User

<h1>AddUser</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoginUser" class="control-label"></label>
                <input asp-for="LoginUser" class="form-control" />
                <span asp-validation-for="LoginUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordUser" class="control-label"></label>
                <input asp-for="PasswordUser" class="form-control" />
                <span asp-validation-for="PasswordUser" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Valid" /> @Html.DisplayNameFor(model => model.Valid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="StaffId" class="control-label"></label>
                <select asp-for="StaffId" class="form-control" asp-items="ViewBag.StaffId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>