@model WebMasterOk.Models.Authoriziation.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h1>Регистрация нового пользователя</h1>

<h4>Форма регистрации</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="Account" asp-antiforgery="true" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="text" name="returnUrl" hidden value="@ViewBag.returnUrl" />
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailClient" class="control-label"></label>
                <input asp-for="EmailClient" class="form-control" />
                <span asp-validation-for="EmailClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FamClient" class="control-label"></label>
                <input asp-for="FamClient" class="form-control" />
                <span asp-validation-for="FamClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstNameClient" class="control-label"></label>
                <input asp-for="FirstNameClient" class="form-control" />
                <span asp-validation-for="FirstNameClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastNameClient" class="control-label"></label>
                <input asp-for="LastNameClient" class="form-control" />
                <span asp-validation-for="LastNameClient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberTelephone" class="control-label"></label>
                <input asp-for="NumberTelephone" class="form-control" />
                <span asp-validation-for="NumberTelephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Регистрация" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>